<ion-header>
  <ion-toolbar>
    <ion-title>
      Liste de vos favoris
    </ion-title>

    <ion-button id="1" #first ion-button color="{{ blue }}" (click)="clickDownload(first)">
    <ion-icon name="cloud-download"></ion-icon>
    </ion-button>

    <ion-button id="1" #first ion-button color="{{ blue }}" (click)="clickUpload(first)">
    <ion-icon name="cloud-upload"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="favorites">
    <ion-card class="favoritesList" *ngFor="let element of favorites" [routerLink]="element.urlDetails">
      <img class="posterImage" [src]="element.poster" />
      <div class="title">{{ element.title }}</div>
    </ion-card>
  </div>
</ion-content>
