<ion-header>
    <ion-toolbar>
      <ion-title>
        Choisissez le film
        <div class="search">
          <ion-icon name="search" (click)="onClickSearch()"></ion-icon>
        </div>
      </ion-title>
    </ion-toolbar>
    <ion-searchbar placeholder="Titre du film" [(ngModel)]="value" (ionChange)="onFindTitle()" *ngIf="showSearch"></ion-searchbar>
  </ion-header>
  
  <ion-content padding>
  
    <div class="movie-container">
      <ion-card class="movie-information" *ngFor="let element of movieArray" [routerLink]="'/movie-details/' + element.imdbID" routerDirection="forward"> 
        <img class="movie-image" [src]="element.Poster" />
        <div class="movie-title">{{ element.Title }}</div>
      </ion-card>
    </div>  
  </ion-content>
  
  
  
  