
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

ion-back-button,
ion-button {
    float: right;
}

.addfav {
    display: flex;
}

p {
    flex: 0 0 100%;
}

b {
    position: relative;
    top: 31%;
}