<ion-header>
    <ion-toolbar>
      <ion-title>
        Ultimate Movie Scrapper - Choisissez la série
        <div class="search">
          <ion-icon name="search" (click)="onClickSearch()"></ion-icon>
        </div>
      </ion-title>
    </ion-toolbar>
    <ion-searchbar placeholder="Titre de la série" [(ngModel)]="value" (ionChange)="onFindTitle()" *ngIf="showSearch"></ion-searchbar>
  </ion-header>
  
  <ion-content padding>
  
    <div class="movie-container">
      <ion-card class="movie-information" *ngFor="let element of movieArray" > 
        <img class="movie-image" [src]="element.Poster" />
        <div class="movie-title" >{{ element.Title }}</div>
      </ion-card>
    </div>
    
    <!-- <ion-tabs>
        <ion-tab-bar slot="bottom">
          
          <ion-tab-button tab="tabMovie">
            <ion-label>Films</ion-label>
          </ion-tab-button>
  
          <ion-tab-button tab="tabSerie">
            <ion-label>Séries</ion-label>
          </ion-tab-button>
  
        </ion-tab-bar>
    </ion-tabs> -->
  
  </ion-content>
  
  
  
  
  